* {
    font-family: 'Roboto', sans-serif
}

html {
    min-height: 100vh;
    width: 100%;
  }

body {
    min-height: 100vh;
    margin: 0;
  }

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 85px;
    box-shadow: 0px 1px 4px 1px rgb(110, 110, 110);
    background-color: white;
}

.logo {
    display: flex;
    float: left;
    align-items: center;
    height: 100%;
}

.logo-header {
    display: block;
    margin-left: 20px;
    margin-bottom: 1%;
    margin-top: 0.5%;
    height: 80%;
    width: 45px;
}

.imagen-logo{
    width: 100%;
    height: 100%;
}

.imagen-titulo {
    display: block;
    height: 40%;
    margin-left: 20px;
}

.compra {
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
    width: 5%;
    margin-right: 15px;
}

.cantidad-carrito {
    margin-right: 2%;
    font-size: 20px;
}

.carrito {
    margin-left: 5%;
    font-size: 25px;
    color: rgb(223, 5, 5);
}

.menu {
    display: flex;
    height: 50px;
    width: 100%;
}

.item-menu {
    height: 100%;
    width: 12.5%;
    border-bottom: gray 1px solid;
    border-right: gray 1px solid;
    transition: all 100ms;
}

.item-menu:first-child {
    border-left: gray 1px solid;
}

.item-menu:hover{
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.03);
}

.item-menu-enlace {
    display: block;
    line-height: 50px;
    font-family: 'Roboto';
    font-weight: bolder;
    color: black;
    font-size: 20px;
    text-align: center;
}

main {
    margin: 0 auto;  
    min-height: 80vh;
    width: 80%;
    height: 100%;
    margin-bottom: 1.5%;
    border-radius: 1%;
    box-shadow: 1px 2px 1px 1px rgb(110, 110, 110);
    margin-top: 10px;
}

.container{
    width: 100%;
    height: 100%;
}

.section{
    font-family: 'Roboto';
    width: 98%;
    margin-left: 1%;
}

.section h3 {
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #34495e69;
}

.articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.articulo {
    margin-bottom: 20px;
    margin-left: 15px;
    transition: all 0.4s ease;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-color: #34495e;
    overflow: hidden;
    background-color: white;
    width: 350px;
    height: 400px;
    transition: all 250ms;
}

.articulo:hover {
    background-color: rgba(240, 240, 240, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(253, 33, 33, 0.7);
    cursor: pointer;
}

.articulo:hover .descripcion {
    font-size: 25px;
    text-shadow: 1px 1px 3px #34495e69;
    transition: all 200ms;
}

.articulo:hover .precio {
    font-size: 31px;
    transition: all 200ms;
}

.articulo img {
    width: 100%;
    height: 250px;
}

.imagen-opaca {
    opacity: 0.65;
}

.descripcion {
    font-size: 23px;
    text-align: center;
}

.precio {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(80, 80, 80);
}


footer {
    font-weight: bolder;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.103);
    bottom: 0;
    height: 4rem;
    width: 98%;
    display: flex;
    align-items: center; 
    padding-left: 2%;
}
.desarrollador{    
    text-decoration: none;
    color: rgb(5, 154, 223);
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.contacto{
    display: flex;
    height: 43%;    
    width: 100px;
    margin-left: auto;
    margin-right: 2%;
}

.icono{
    display: block;
    height: 100%;
    width: 30px;
    margin-left: 15%;
}